@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	font-family: "Madimi One", sans-serif;
}

.main-color-1{
	color: rgb(0, 119, 130);
}

.main-color-2{
	color: #13c1ac;
}

.main-bg-color-1{
	background-color: rgb(0, 119, 130);
}

.main-bg-color-2{
	background-color: #13c1ac;
}

